In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('../../data/pre-clean data/Illicit Drug Use 2019-2020 Aged 12 or Older Age Group and Demographic Characteristics.csv')
df2 = pd.read_csv('../../data/pre-clean data/Illicit Drug Use 2019-2020 Aged 12 or Older Age Group and Geographic and Socioeconomic Characteristics.csv')
df = pd.concat([df1,df2], ignore_index = True)

df.rename(columns = {'Unnamed: 0':'attribute'}, inplace = True)
df.rename(columns = {'Aged':'Y2019_Age12_17'}, inplace = True)
df.rename(columns = {'Aged.1':'Y2020_Age12_17'}, inplace = True)
df.rename(columns = {'Aged.2':'Y2019_Age18_25'}, inplace = True)
df.rename(columns = {'Aged.3':'Y2020_Age18_25'}, inplace = True)
df.rename(columns = {'Aged 26+':'Y2019_Age26+'}, inplace = True)
df.rename(columns = {'Aged 26+.1':'Y2020_Age26+'}, inplace = True)

df = df.drop(columns=['Aged 12+','Aged 12+.1','Aged 18+','Aged 18+.1'])
df = df.drop(df.index[[0,1,2,3,6,10,11,15,20,24,25,26,27,28,33,40,41,42,43,44,45,46,47,48]])

df = df.replace(',','', regex=True)
df = df.apply(lambda x: x.str.replace('*', ''))
df = df.apply(lambda x: x.str.replace('da', ''))
df = df.apply(lambda x: x.str.strip()).replace('', np.nan)
df = df.apply(lambda x: x.str.replace('Full-Time', 'Full-Time Employment'))
df = df.apply(lambda x: x.str.replace('Part-Time', 'Part-Time Employment'))
df = df.apply(lambda x: x.str.replace('Northeast', 'Northeast Region'))
df = df.apply(lambda x: x.str.replace('Midwest', 'Midwest Region'))
df = df.apply(lambda x: x.str.replace('South', 'South Region'))
df = df.apply(lambda x: x.str.replace('West', 'West Region'))
df = df.apply(lambda x: x.str.replace('Large Metro', 'Large Metro Resident'))
df = df.apply(lambda x: x.str.replace('Small Metro', 'Small Metro Resident'))
df = df.apply(lambda x: x.str.replace('Nonmetro', 'Non Metro Resident'))



df['Y2019_Age12_17'] = pd.to_numeric(df['Y2019_Age12_17'])
df['Y2020_Age12_17'] = pd.to_numeric(df['Y2020_Age12_17'])
df['Y2019_Age18_25'] = pd.to_numeric(df['Y2019_Age18_25']).astype('float')
df['Y2020_Age18_25'] = pd.to_numeric(df['Y2020_Age18_25']).astype('float')
df['Y2019_Age26+'] = pd.to_numeric(df['Y2019_Age26+']).astype('float')
df['Y2020_Age26+'] = pd.to_numeric(df['Y2020_Age26+']).astype('float')

/var/folders/bl/052c3hfs443637kyktp_jzjm0000gn/T/ipykernel_31954/511384647.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df = df.apply(lambda x: x.str.replace('*', ''))

In [3]:
df

,attribute,Y2019_Age12_17,Y2020_Age12_17,Y2019_Age18_25,Y2020_Age18_25,Y2019_Age26+,Y2020_Age26+
4,Male,2103.0,1610.0,6823.0,6094.0,22817.0,23365.0
5,Female,2176.0,1826.0,6371.0,6303.0,16914.0,20078.0
7,Not Hispanic or Latino,3098.0,2562.0,10475.0,10228.0,34584.0,37319.0
8,White,2180.0,1909.0,7562.0,7580.0,27294.0,29011.0
9,Black or African American,582.0,353.0,1822.0,1695.0,4874.0,5738.0
12,Asian,77.0,145.0,523.0,395.0,981.0,1029.0
13,Two or More Races,192.0,94.0,430.0,458.0,1076.0,1086.0
14,Hispanic or Latino,1180.0,874.0,2718.0,2170.0,5147.0,6125.0
16,< High School,NaN,NaN,1715.0,1108.0,4162.0,4211.0
17,High School Graduate,NaN,NaN,3906.0,3398.0,8612.0,11578.0
18,Some College/Associateâ€™s Degree,NaN,NaN,5578.0,5713.0,13490.0,14118.0
19,College Graduate,NaN,NaN,1994.0,2178.0,13466.0,13537.0
21,Full-Time Employment,NaN,NaN,6028.0,5082.0,22635.0,22717.0
22,Part-Time Employment,NaN,NaN,3330.0,3391.0,4545.0,5366.0
23,Unemployed,NaN,NaN,1328.0,1385.0,2014.0,2708.0
29,Northeast Region,690.0,581.0,2406.0,2066.0,7184.0,8209.0
30,Midwest Region,899.0,760.0,2876.0,2943.0,7768.0,8575.0
31,South Region,1504.0,1163.0,4429.0,4114.0,12981.0,13763.0
32,West Region,1186.0,931.0,3482.0,3275.0,11798.0,12896.0
34,Large Metro Resident,2326.0,1852.0,7782.0,6651.0,23663.0,24751.0
35,Small Metro Resident,1439.0,1029.0,3991.0,4155.0,11683.0,13315.0
36,Non Metro Resident,514.0,555.0,1420.0,1591.0,4385.0,5378.0
37,Urbanized,249.0,233.0,741.0,785.0,2024.0,2383.0
38,Less Urbanized,208.0,289.0,554.0,721.0,1925.0,2668.0
39,Completely Rural,57.0,NaN,125.0,86.0,437.0,327.0