In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df1 = pd.read_csv('../../data/pre-clean data/Any Mental Illness in Past Year- Among People Aged 18 or Older; by Demographic Characteristics, Numbers in Thousands, 2008-2020.csv')
df2 = pd.read_csv('../../data/pre-clean data/Any Mental Illness in Past Year- Among People Aged 18 or Older; by Geographic and Socioeconomic Characteristics, Numbers in Thousands, 2008-2020.csv')

In [6]:
df1

,Demographic Characteristic,20081,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,TOTAL,"39,826","41,195","41,417","41,381","43,714","43,846","43,553","43,421","44,652","46,632","47,635","51,495","52,859"
1,AGE GROUP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18-25,"6,099","6,043","6,151","6,356","6,774","6,754","7,014","7,574","7,635","8,849","8,944","9,930","10,238"
3,26 or Older,"33,727","35,152","35,266","35,025","36,940","37,092","36,539","35,847","37,016","37,783","38,691","41,565","42,621"
4,26-49,"20,697","21,455","20,648","19,936","20,777","21,061","20,007","20,589","20,903","22,256","22,721","25,279","25,676"
5,50 or Older,"13,030","13,698","14,618","15,089","16,163","16,031","16,531","15,257","16,114","15,527","15,969","16,286","16,945"
6,GENDER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Male,"14,778","15,614","16,461","15,895","16,856","16,452","16,371","16,785","17,142","18,065","18,308","19,758","19,269"
8,Female,"25,048","25,581","24,956","25,486","26,858","27,394","27,182","26,636","27,510","28,567","29,327","31,737","33,590"
9,HISPANIC ORIGIN AND RACE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Not Hispanic or Latino,"34,971","36,321","36,580","36,793","38,049","37,828","37,795","37,919","38,598","40,603","40,785","44,055","45,115"
11,White,"28,286","29,799","29,704","29,552","30,066","30,222","30,074","30,387","31,266","32,183","32,210","34,967","35,621"
12,Black or African American,"4,314","4,113","4,520","4,364","5,044","4,688","4,603","4,410","4,171","4,782","4,802","5,174","5,269"
13,AIAN,163,219,187,357,366,323,271,270,317,246,333,260,*
14,NHOPI,*,*,*,*,*,112,204,89,181,193,198,164,*
15,Asian,"1,300","1,287","1,425","1,473","1,608","1,489","1,653","1,620","1,602","2,000","2,081","2,100","1,995"
16,Two or More Races,666,757,584,847,709,995,989,"1,142","1,061","1,198","1,160","1,390","1,689"
17,Hispanic or Latino,"4,855","4,874","4,837","4,589","5,665","6,018","5,758","5,502","6,053","6,028","6,850","7,440","7,744"

In [7]:
df2

,Geographic/Socioeconomic Characteristic,20081,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,TOTAL,"39,826","41,195","41,417","41,381","43,714","43,846","43,553","43,421","44,652","46,632","47,635","51,495","52,859"
1,GEOGRAPHIC REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Northeast,"7,865","7,587","7,890","6,966","7,723","7,701","7,666","7,706","7,910","7,920","8,291","8,608","8,383"
3,Midwest,"9,075","9,169","9,369","9,020","9,173","9,461","9,436","9,167","8,934","10,230","10,329","11,497","11,866"
4,South,"13,905","14,604","14,656","15,362","16,282","16,014","15,877","16,273","16,638","16,847","16,946","18,212","18,616"
5,West,"8,980","9,835","9,502","10,033","10,536","10,670","10,573","10,275","11,169","11,634","12,068","13,178","13,994"
6,COUNTY TYPE2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Large Metro,"21,077","21,986","21,967","21,234","23,221","23,763","23,371","23,474","24,038","25,223","25,715","28,346","27,213"
8,Small Metro,"12,622","13,011","13,151","13,905","14,040","13,492","13,260","13,832","14,068","14,626","15,312","15,837","17,946"
9,Nonmetro,"6,127","6,198","6,299","6,243","6,452","6,591","6,922","6,114","6,546","6,782","6,608","7,312","7,699"
10,Urbanized,"2,554","2,418","2,500","2,589","2,646","2,976","2,975","2,666","2,461","2,973","3,153","3,100","3,360"
11,Less Urbanized,"2,997","3,222","3,155","3,170","3,191","3,047","3,260","2,731","3,491","3,214","2,820","3,554","3,629"
12,Completely Rural,576,558,644,484,615,568,687,717,594,596,635,658,711
13,POVERTY LEVEL3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Less Than 100%,"6,402","6,955","7,323","8,428","9,945","9,109","9,358","8,963","8,665","8,766","9,094","8,646","9,810"
15,100-199%,"8,925","8,885","9,756","9,813","9,890","9,721","10,046","9,597","10,727","10,136","10,091","11,258","11,445"
16,200% or More,"24,313","25,148","24,187","23,005","23,669","24,876","23,969","24,720","25,068","27,528","28,246","31,255","31,447"
17,EDUCATION LEVEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,< High School,nc,nc,nc,nc,nc,nc,nc,"5,822","5,538","5,320","5,628","5,505","5,552"
19,High School Graduate,nc,nc,nc,nc,nc,nc,nc,"10,621","10,813","10,343","11,110","11,705","13,170"
20,Some College/Associate’s Degree,nc,nc,nc,nc,nc,nc,nc,"15,450","15,797","16,525","17,171","18,250","18,339"
21,College Graduate,nc,nc,nc,nc,nc,nc,nc,"11,528","12,504","14,444","13,725","16,034","15,798"
22,HEALTH INSURANCE4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Private,"23,775","24,949","23,693","22,565","23,589","25,011","24,456","24,972","26,307","27,933","28,245","30,795","30,239"
24,Medicaid/CHIP,"5,287","5,767","6,084","6,664","7,085","7,282","8,776","9,147","9,845","10,090","10,410","11,149","12,102"
25,Other5,"8,227","8,587","9,815","9,727","11,458","10,796","11,620","10,971","10,990","10,845","11,142","11,598","13,139"
26,No Coverage,"7,751","7,446","7,863","8,095","8,423","7,725","6,206","5,235","4,636","4,901","5,371","5,630","5,824"

#### Data Cleaning
1. rename column 20081 to 2008 on df1 and df2
2. remove column name [1] on df1 and df2
3. drop df1 rows with NaN and insignificant values: [0,1,3,6,9,13,14]
4. drop df2 rows with NaN and insignificant values: [0,1,6,12,13,14,15,16,17,22,23,24,25,26]
5. concatenate df1 and df2
6. rename df row attributes
7. remove coma ','
8. remove nonsense data 'nc' with NaN
9. change data type to numeric data

In [8]:
df1.rename(columns = {'20081':'2008'}, inplace = True)
df1.rename(columns = {'Demographic Characteristic':''}, inplace = True)
df1 = df1.drop(df1.index[[0,1,3,6,9,13,14]])
df1 = df1.apply(lambda x: x.str.replace('50 or Older', '50+'))

df2.rename(columns = {'20081':'2008'}, inplace = True)
df2.rename(columns = {'Geographic/Socioeconomic Characteristic':''}, inplace = True)
df2 = df2.drop(df2.index[[0,1,6,12,13,14,15,16,17,22,23,24,25,26]])

df = pd.concat([df1,df2], ignore_index = True)

df = df.apply(lambda x: x.str.replace('Northeast', 'Northeast Region'))
df = df.apply(lambda x: x.str.replace('Midwest', 'Midwest Region'))
df = df.apply(lambda x: x.str.replace('South', 'South Region'))
df = df.apply(lambda x: x.str.replace('West', 'West Region'))
df = df.apply(lambda x: x.str.replace('Large Metro', 'Large Metro Resident'))
df = df.apply(lambda x: x.str.replace('Small Metro', 'Small Metro Resident'))
df = df.apply(lambda x: x.str.replace('Nonmetro', 'Non Metro Resident'))

df = df.replace(',','', regex=True)
df = df.apply(lambda x: x.str.replace('nc', ''))
df = df.apply(lambda x: x.str.strip()).replace('', np.nan)

df['2008'] = pd.to_numeric(df['2008']).astype('float')
df['2009'] = pd.to_numeric(df['2009']).astype('float')
df['2010'] = pd.to_numeric(df['2010']).astype('float')
df['2011'] = pd.to_numeric(df['2011']).astype('float')
df['2012'] = pd.to_numeric(df['2012']).astype('float')
df['2013'] = pd.to_numeric(df['2013']).astype('float')
df['2014'] = pd.to_numeric(df['2014']).astype('float')
df['2015'] = pd.to_numeric(df['2015']).astype('float')
df['2016'] = pd.to_numeric(df['2016']).astype('float')
df['2017'] = pd.to_numeric(df['2017']).astype('float')
df['2018'] = pd.to_numeric(df['2018']).astype('float')
df['2019'] = pd.to_numeric(df['2019']).astype('float')
df['2020'] = pd.to_numeric(df['2020']).astype('float')

In [9]:
df
df.to_csv('../../data/cleaned data/Any Mental Illness 2008-2020.csv')

,,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,18-25,6099.0,6043.0,6151.0,6356.0,6774.0,6754.0,7014.0,7574.0,7635.0,8849.0,8944.0,9930.0,10238.0
1,26-49,20697.0,21455.0,20648.0,19936.0,20777.0,21061.0,20007.0,20589.0,20903.0,22256.0,22721.0,25279.0,25676.0
2,50+,13030.0,13698.0,14618.0,15089.0,16163.0,16031.0,16531.0,15257.0,16114.0,15527.0,15969.0,16286.0,16945.0
3,Male,14778.0,15614.0,16461.0,15895.0,16856.0,16452.0,16371.0,16785.0,17142.0,18065.0,18308.0,19758.0,19269.0
4,Female,25048.0,25581.0,24956.0,25486.0,26858.0,27394.0,27182.0,26636.0,27510.0,28567.0,29327.0,31737.0,33590.0
5,Not Hispanic or Latino,34971.0,36321.0,36580.0,36793.0,38049.0,37828.0,37795.0,37919.0,38598.0,40603.0,40785.0,44055.0,45115.0
6,White,28286.0,29799.0,29704.0,29552.0,30066.0,30222.0,30074.0,30387.0,31266.0,32183.0,32210.0,34967.0,35621.0
7,Black or African American,4314.0,4113.0,4520.0,4364.0,5044.0,4688.0,4603.0,4410.0,4171.0,4782.0,4802.0,5174.0,5269.0
8,Asian,1300.0,1287.0,1425.0,1473.0,1608.0,1489.0,1653.0,1620.0,1602.0,2000.0,2081.0,2100.0,1995.0
9,Two or More Races,666.0,757.0,584.0,847.0,709.0,995.0,989.0,1142.0,1061.0,1198.0,1160.0,1390.0,1689.0
10,Hispanic or Latino,4855.0,4874.0,4837.0,4589.0,5665.0,6018.0,5758.0,5502.0,6053.0,6028.0,6850.0,7440.0,7744.0
11,Northeast Region,7865.0,7587.0,7890.0,6966.0,7723.0,7701.0,7666.0,7706.0,7910.0,7920.0,8291.0,8608.0,8383.0
12,Midwest Region,9075.0,9169.0,9369.0,9020.0,9173.0,9461.0,9436.0,9167.0,8934.0,10230.0,10329.0,11497.0,11866.0
13,South Region,13905.0,14604.0,14656.0,15362.0,16282.0,16014.0,15877.0,16273.0,16638.0,16847.0,16946.0,18212.0,18616.0
14,West Region,8980.0,9835.0,9502.0,10033.0,10536.0,10670.0,10573.0,10275.0,11169.0,11634.0,12068.0,13178.0,13994.0
15,Large Metro Resident,21077.0,21986.0,21967.0,21234.0,23221.0,23763.0,23371.0,23474.0,24038.0,25223.0,25715.0,28346.0,27213.0
16,Small Metro Resident,12622.0,13011.0,13151.0,13905.0,14040.0,13492.0,13260.0,13832.0,14068.0,14626.0,15312.0,15837.0,17946.0
17,Non Metro Resident,6127.0,6198.0,6299.0,6243.0,6452.0,6591.0,6922.0,6114.0,6546.0,6782.0,6608.0,7312.0,7699.0
18,Urbanized,2554.0,2418.0,2500.0,2589.0,2646.0,2976.0,2975.0,2666.0,2461.0,2973.0,3153.0,3100.0,3360.0
19,Less Urbanized,2997.0,3222.0,3155.0,3170.0,3191.0,3047.0,3260.0,2731.0,3491.0,3214.0,2820.0,3554.0,3629.0
20,< High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5822.0,5538.0,5320.0,5628.0,5505.0,5552.0
21,High School Graduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10621.0,10813.0,10343.0,11110.0,11705.0,13170.0
22,Some College/Associate’s Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15450.0,15797.0,16525.0,17171.0,18250.0,18339.0
23,College Graduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11528.0,12504.0,14444.0,13725.0,16034.0,15798.0