In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df1 = pd.read_csv('../../data/pre-clean data/Received Mental Health Services in Past Year- Among People Aged 18 or Older; by Demographic Characteristics, Numbers in Thousands, 2002-2020.csv')
df2 = pd.read_csv('../../data/pre-clean data/Received Mental Health Services in Past Year- Among People Aged 18 or Older; by Geographic and Socioeconomic Characteristics, Numbers in Thousands, 2002-2020.csv')

In [2]:
df1

,Demographic Characteristic,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,TOTAL,"27,215","27,939","27,502","28,166","28,405","29,556","30,201","30,341","31,490","31,642","34,122","34,644","35,498","34,243","34,982","36,416","37,101","40,154","41,444"
1,AGE GROUP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18-25,"3,256","3,511","3,459","3,615","3,526","3,387","3,612","3,740","3,717","3,899","4,120","4,221","4,135","4,044","4,423","5,073","5,120","5,756","6,347"
3,26 or Older,"23,959","24,428","24,042","24,551","24,879","26,168","26,588","26,601","27,773","27,743","30,002","30,423","31,362","30,198","30,558","31,343","31,981","34,397","35,097"
4,26-49,"14,492","14,476","14,348","13,889","14,054","14,311","14,030","14,481","14,627","14,543","14,811","15,101","14,930","15,057","15,154","15,695","16,113","17,931","17,978"
5,50 or Older,"9,466","9,952","9,695","10,661","10,825","11,857","12,559","12,120","13,146","13,200","15,191","15,322","16,432","15,142","15,404","15,647","15,868","16,466","17,118"
6,GENDER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Male,"8,772","8,689","9,044","9,308","9,484","9,876","10,141","10,131","10,519","11,051","11,519","11,557","12,190","11,945","11,632","12,462","12,096","13,428","13,293"
8,Female,"18,442","19,250","18,458","18,858","18,921","19,680","20,060","20,210","20,970","20,592","22,603","23,087","23,308","22,298","23,350","23,954","25,006","26,726","28,151"
9,HISPANIC ORIGIN AND RACE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Not Hispanic or Latino,"25,172","25,919","25,523","25,999","26,372","27,394","28,137","28,071","28,981","29,180","31,651","31,549","32,463","31,187","31,740","33,086","33,573","36,188","37,168"
11,White,"21,943","22,914","22,512","22,890","23,330","24,785","24,818","24,888","25,418","25,656","27,638","27,383","28,079","27,129","27,793","28,708","29,151","31,158","32,397"
12,Black or African American,"1,953","2,021","2,052","2,193","1,856","1,711","2,231","2,044","2,353","2,035","2,770","2,460","2,626","2,476","2,393","2,525","2,555","2,897","2,728"
13,AIAN,227,136,143,169,130,128,124,*,145,210,199,193,178,199,208,170,211,192,*
14,NHOPI,29,*,*,*,58,*,*,*,*,21,52,32,87,39,60,53,98,59,*
15,Asian,668,424,422,365,518,382,442,358,545,728,505,768,849,674,663,823,894,"1,012",805
16,Two or More Races,352,373,335,317,480,363,469,467,481,529,485,713,645,672,624,806,664,869,967
17,Hispanic or Latino,"2,043","2,020","1,979","2,166","2,033","2,162","2,064","2,270","2,509","2,463","2,471","3,096","3,035","3,055","3,242","3,330","3,528","3,965","4,275"

In [3]:
df2

,Geographic/Socioeconomic Characteristic,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,TOTAL,"27,215","27,939","27,502","28,166","28,405","29,556","30,201","30,341","31,490","31,642","34,122","34,644","35,498","34,243","34,982","36,416","37,101","40,154","41,444"
1,GEOGRAPHIC REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Northeast,"5,581","5,557","5,397","5,709","5,540","6,174","5,749","5,469","6,292","5,978","6,113","6,709","6,793","6,764","6,971","6,737","7,369","7,503","7,273"
3,Midwest,"6,160","6,837","6,577","6,790","6,755","6,738","7,046","7,187","7,266","7,531","7,858","8,181","8,274","7,683","8,461","8,573","8,868","9,740","9,985"
4,South,"9,214","9,871","9,364","9,976","9,934","10,394","10,285","11,141","10,793","11,236","12,632","11,970","12,606","12,067","12,297","12,875","12,569","13,503","14,741"
5,West,"6,259","5,674","6,164","5,690","6,177","6,249","7,121","6,544","7,140","6,897","7,519","7,784","7,826","7,729","7,253","8,232","8,296","9,407","9,445"
6,COUNTY TYPE1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Large Metro,"14,472","14,466","14,225","14,415","14,907","14,976","15,922","15,521","16,444","16,018","17,730","18,432","18,976","18,551","18,884","19,633","19,362","21,410","20,928"
8,Small Metro,"8,615","9,032","9,034","9,181","8,483","9,594","9,654","10,108","10,305","11,002","11,099","11,062","11,192","11,210","11,115","11,627","12,252","12,970","14,435"
9,Nonmetro,"4,128","4,441","4,243","4,569","5,016","4,986","4,624","4,712","4,741","4,622","5,293","5,150","5,330","4,481","4,983","5,156","5,486","5,774","6,081"
10,Urbanized,"1,936","1,947","1,856","1,742","1,893","2,150","2,038","1,807","2,097","1,786","2,316","2,303","2,245","1,977","1,905","2,233","2,585","2,557","2,367"
11,Less Urbanized,"1,887","2,057","2,017","2,360","2,604","2,433","2,244","2,432","2,175","2,491","2,477","2,397","2,561","1,957","2,623","2,425","2,338","2,684","3,045"
12,Completely Rural,305,437,370,467,520,403,341,473,469,346,500,450,523,547,455,498,563,532,670
13,POVERTY LEVEL2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Less Than 100%,"3,443","3,640","4,248","4,326","3,529","4,310","3,902","4,332","4,736","5,179","5,939","5,988","6,147","5,302","5,639","5,835","5,832","5,578","6,405"
15,100-199%,"4,917","5,161","4,836","4,897","5,263","5,213","5,651","5,619","6,426","6,472","6,295","6,293","6,982","6,347","7,125","6,827","6,116","7,403","7,251"
16,200% or More,"18,700","19,025","18,306","18,814","19,501","19,931","20,530","20,238","20,214","19,871","21,721","22,275","22,218","22,520","22,108","23,646","25,042","26,957","27,704"
17,EDUCATION LEVEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,< High School,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,"3,239","3,361","3,239","3,172","3,382","3,315"
19,High School Graduate,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,"7,634","7,291","7,224","7,167","7,939","9,241"
20,Some College/Associate’s Degree,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,"11,714","12,243","12,696","12,994","13,772","13,513"
21,College Graduate,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,nc,"11,656","12,087","13,257","13,768","15,061","15,376"
22,HEALTH INSURANCE3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Private,"19,740","19,626","19,068","18,318","19,494","19,407","20,564","19,691","20,324","19,879","21,618","22,294","22,033","22,805","22,660","23,813","24,849","26,711","26,345"
24,Medicaid/CHIP,"3,194","3,630","3,912","4,558","3,652","4,393","4,036","4,520","4,567","5,133","4,936","5,510","6,717","6,288","7,295","7,597","6,834","8,131","8,624"
25,Other4,--,"6,078","5,909","6,710","6,528","7,517","7,811","7,384","8,079","8,128","9,604","9,452","11,296","10,186","9,866","10,027","10,363","10,935","12,453"
26,No Coverage,"2,678","2,744","2,701","3,001","2,913","2,991","3,102","3,307","3,540","3,334","3,906","3,747","2,842","1,787","1,816","1,916","1,985","2,048","1,979"

In [4]:
df1.rename(columns = {'Demographic Characteristic':''}, inplace = True)
df2.rename(columns = {'Geographic/Socioeconomic Characteristic':''}, inplace = True)
df = pd.concat([df1,df2], ignore_index = True)
df = df.drop(df.index[[0,1,3,6,9,13,14,18,19,24,31,32,33,34,35,40,41,42,43,44]])

df = df.apply(lambda x: x.str.replace('Northeast', 'Northeast Region'))
df = df.apply(lambda x: x.str.replace('Midwest', 'Midwest Region'))
df = df.apply(lambda x: x.str.replace('South', 'South Region'))
df = df.apply(lambda x: x.str.replace('West', 'West Region'))
df = df.apply(lambda x: x.str.replace('Large Metro', 'Large Metro Resident'))
df = df.apply(lambda x: x.str.replace('Small Metro', 'Small Metro Resident'))
df = df.apply(lambda x: x.str.replace('Nonmetro', 'Non Metro Resident'))
df = df.apply(lambda x: x.str.replace('50 or Older', '50+'))

df = df.replace(',','', regex=True)
df = df.apply(lambda x: x.str.replace('nc', ''))
df = df.apply(lambda x: x.str.strip()).replace('', np.nan)

df['2002'] = pd.to_numeric(df['2002']).astype('float')
df['2003'] = pd.to_numeric(df['2003']).astype('float')
df['2004'] = pd.to_numeric(df['2004']).astype('float')
df['2005'] = pd.to_numeric(df['2005']).astype('float')
df['2006'] = pd.to_numeric(df['2006']).astype('float')
df['2007'] = pd.to_numeric(df['2007']).astype('float')
df['2008'] = pd.to_numeric(df['2008']).astype('float')
df['2009'] = pd.to_numeric(df['2009']).astype('float')
df['2010'] = pd.to_numeric(df['2010']).astype('float')
df['2011'] = pd.to_numeric(df['2011']).astype('float')
df['2012'] = pd.to_numeric(df['2012']).astype('float')
df['2013'] = pd.to_numeric(df['2013']).astype('float')
df['2014'] = pd.to_numeric(df['2014']).astype('float')
df['2015'] = pd.to_numeric(df['2015']).astype('float')
df['2016'] = pd.to_numeric(df['2016']).astype('float')
df['2017'] = pd.to_numeric(df['2017']).astype('float')
df['2018'] = pd.to_numeric(df['2018']).astype('float')
df['2019'] = pd.to_numeric(df['2019']).astype('float')
df['2020'] = pd.to_numeric(df['2020']).astype('float')

In [6]:
df

,,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,18-25,3256.0,3511.0,3459.0,3615.0,3526.0,3387.0,3612.0,3740.0,3717.0,3899.0,4120.0,4221.0,4135.0,4044.0,4423.0,5073.0,5120.0,5756.0,6347.0
4,26-49,14492.0,14476.0,14348.0,13889.0,14054.0,14311.0,14030.0,14481.0,14627.0,14543.0,14811.0,15101.0,14930.0,15057.0,15154.0,15695.0,16113.0,17931.0,17978.0
5,50+,9466.0,9952.0,9695.0,10661.0,10825.0,11857.0,12559.0,12120.0,13146.0,13200.0,15191.0,15322.0,16432.0,15142.0,15404.0,15647.0,15868.0,16466.0,17118.0
7,Male,8772.0,8689.0,9044.0,9308.0,9484.0,9876.0,10141.0,10131.0,10519.0,11051.0,11519.0,11557.0,12190.0,11945.0,11632.0,12462.0,12096.0,13428.0,13293.0
8,Female,18442.0,19250.0,18458.0,18858.0,18921.0,19680.0,20060.0,20210.0,20970.0,20592.0,22603.0,23087.0,23308.0,22298.0,23350.0,23954.0,25006.0,26726.0,28151.0
10,Not Hispanic or Latino,25172.0,25919.0,25523.0,25999.0,26372.0,27394.0,28137.0,28071.0,28981.0,29180.0,31651.0,31549.0,32463.0,31187.0,31740.0,33086.0,33573.0,36188.0,37168.0
11,White,21943.0,22914.0,22512.0,22890.0,23330.0,24785.0,24818.0,24888.0,25418.0,25656.0,27638.0,27383.0,28079.0,27129.0,27793.0,28708.0,29151.0,31158.0,32397.0
12,Black or African American,1953.0,2021.0,2052.0,2193.0,1856.0,1711.0,2231.0,2044.0,2353.0,2035.0,2770.0,2460.0,2626.0,2476.0,2393.0,2525.0,2555.0,2897.0,2728.0
15,Asian,668.0,424.0,422.0,365.0,518.0,382.0,442.0,358.0,545.0,728.0,505.0,768.0,849.0,674.0,663.0,823.0,894.0,1012.0,805.0
16,Two or More Races,352.0,373.0,335.0,317.0,480.0,363.0,469.0,467.0,481.0,529.0,485.0,713.0,645.0,672.0,624.0,806.0,664.0,869.0,967.0
17,Hispanic or Latino,2043.0,2020.0,1979.0,2166.0,2033.0,2162.0,2064.0,2270.0,2509.0,2463.0,2471.0,3096.0,3035.0,3055.0,3242.0,3330.0,3528.0,3965.0,4275.0
20,Northeast Region,5581.0,5557.0,5397.0,5709.0,5540.0,6174.0,5749.0,5469.0,6292.0,5978.0,6113.0,6709.0,6793.0,6764.0,6971.0,6737.0,7369.0,7503.0,7273.0
21,Midwest Region,6160.0,6837.0,6577.0,6790.0,6755.0,6738.0,7046.0,7187.0,7266.0,7531.0,7858.0,8181.0,8274.0,7683.0,8461.0,8573.0,8868.0,9740.0,9985.0
22,South Region,9214.0,9871.0,9364.0,9976.0,9934.0,10394.0,10285.0,11141.0,10793.0,11236.0,12632.0,11970.0,12606.0,12067.0,12297.0,12875.0,12569.0,13503.0,14741.0
23,West Region,6259.0,5674.0,6164.0,5690.0,6177.0,6249.0,7121.0,6544.0,7140.0,6897.0,7519.0,7784.0,7826.0,7729.0,7253.0,8232.0,8296.0,9407.0,9445.0
25,Large Metro Resident,14472.0,14466.0,14225.0,14415.0,14907.0,14976.0,15922.0,15521.0,16444.0,16018.0,17730.0,18432.0,18976.0,18551.0,18884.0,19633.0,19362.0,21410.0,20928.0
26,Small Metro Resident,8615.0,9032.0,9034.0,9181.0,8483.0,9594.0,9654.0,10108.0,10305.0,11002.0,11099.0,11062.0,11192.0,11210.0,11115.0,11627.0,12252.0,12970.0,14435.0
27,Non Metro Resident,4128.0,4441.0,4243.0,4569.0,5016.0,4986.0,4624.0,4712.0,4741.0,4622.0,5293.0,5150.0,5330.0,4481.0,4983.0,5156.0,5486.0,5774.0,6081.0
28,Urbanized,1936.0,1947.0,1856.0,1742.0,1893.0,2150.0,2038.0,1807.0,2097.0,1786.0,2316.0,2303.0,2245.0,1977.0,1905.0,2233.0,2585.0,2557.0,2367.0
29,Less Urbanized,1887.0,2057.0,2017.0,2360.0,2604.0,2433.0,2244.0,2432.0,2175.0,2491.0,2477.0,2397.0,2561.0,1957.0,2623.0,2425.0,2338.0,2684.0,3045.0
30,Completely Rural,305.0,437.0,370.0,467.0,520.0,403.0,341.0,473.0,469.0,346.0,500.0,450.0,523.0,547.0,455.0,498.0,563.0,532.0,670.0
36,< High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3239.0,3361.0,3239.0,3172.0,3382.0,3315.0
37,High School Graduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7634.0,7291.0,7224.0,7167.0,7939.0,9241.0
38,Some College/Associate’s Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11714.0,12243.0,12696.0,12994.0,13772.0,13513.0
39,College Graduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11656.0,12087.0,13257.0,13768.0,15061.0,15376.0

In [5]:

#df.to_csv('../../data/cleaned data/Received Mental Health Services 2002-2020.csv')